.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    cursor: pointer;
  }
}

.search {
  width: 20em;
  padding: 0.2em;
  outline: none;
  border: none;
  transition: transform 0.3s 0.2s, opacity 0.3s;
  background-color: transparent;
  border-bottom: 3px solid var(--color-primary);
  transform: scaleX(0);
  transform-origin: right;
  &::placeholder {
    opacity: 0;
    font-weight: 700;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
  &:has(+ .submit:hover),
  &:hover,
  &:focus-visible {
    transform: scaleX(1);
    &::placeholder {
      opacity: 1;
    }
  }
}

.submit {
  border: none;
  background-color: transparent;
}
