.container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 5em;
  height: min-content;
  margin-top: 1.5em;
  padding: 1em;
  border: 2px solid var(--color-text);
  border-radius: 0.5em;
  & h3 {
    margin-block: 0.5em;
  }
  & > * {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-text);
  }
  & button {
    border: none;
    background-color: var(--color-accent);
    color: inherit;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.3em;
    cursor: pointer;
  }
}

.checkboxesOuter {
  height: 30vh;
  padding-bottom: 3em;
}

.checkboxesInner {
  height: 100%;
  overflow-y: scroll;
}

.checkboxContainer {
  & * {
    cursor: pointer;
  }
  & input {
    margin-right: 0.4em;
  }
}

.priceRange {
  & div {
    display: flex;
    gap: 0.25em;
    align-items: center;
    & input {
      width: 5.5vmax;
      padding-inline: 0.5em;
      padding-block: 0.25em;
      border-radius: 0.5em;
    }
  }
}

.ratingFilter {
  display: flex;
  flex-direction: column;
}
